/* =====================
  TECHNICAL INFO STYLES
 ===================== */

.technical-info {
  padding: 15px 20px;
  color: rgb(32, 32, 32);
  font-size: 0.70rem;
}

.technical-info > section {
  margin-bottom: 17px;
}

.profile-section {
  width: 100%;
  word-spacing: 5px;
}

/* ========================
  EXPERIENCE ITEMS STYLES
 ======================= */
 .exp {
  margin-bottom: 10px;
}


.exp-wrapper {
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  list-style-type: disc;
  row-gap: 8px;
}

.exp__title {
  margin-bottom: 3px;
}

.exp::marker {
  font-size: 1.5em; /* Larger bullet size */
  color: rgb(34, 42, 54); /* Bullet color */
}

/* ========================
  EDUCATION SECTION STYLES
======================== */

.edu__title {
  font-size: 0.7rem;
}

/* =========================
  PORTOFOLIO SECTION STYLES
========================= */

.project {
  font-size: 0.65rem;
  margin-bottom: 10px;
}

.project__name {
  font-weight: 800;
}
