/* =====================
  TECHNICAL INFO STYLES
 ===================== */

.technical-info {
  padding: 15px 20px;
  color: rgb(32, 32, 32);
  font-size: 0.70rem;
}

.technical-info > section {
  margin-bottom: 17px;
}

.profile-section {
  width: 100%;
  word-spacing: 5px;
}

/* ===================
  PORTOFOLIO SECTION
=================== */

.project {
  font-size: 0.65rem;
  margin-bottom: 10px;
}

.project__name {
  font-weight: 800;
}
