/* =====================
  TECHNICAL INFO STYLES
 ===================== */

.technical-info {
  padding: 15px 20px;
  color: rgb(36, 35, 35);
  font-size: 0.75rem;
  word-spacing: 5px;
}

.profile-section {
  width: 100%;
}