/* ==============
  FONT IMPORTS
 ============== */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* ==============
  CSS RESET
 ============== */

* {
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  background-color: #f8f5f0;
  font-family: "Nunito", sans-serif;
}

/* ==============
  HEADER STYLING
 ============== */

.generator-header {
  height: 70px;
  display: flex;
  align-items: center;
  column-gap: 25px;
  padding: 0px 20px;
  /* box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.098); */
  background: rgb(0, 51, 102);
}

.generator-header__img {
  height: 60px;
}

.generator-header__text {
  font-family: "Oswald", sans-serif;
  font-size: 2.3rem;
  font-weight: 500;
  color: rgb(255, 191, 0);
}

/* ==============
  MAIN STYLING
 ============== */

main.main-content {
  display: flex;
}