/* ========================
  PROFILE SECTION STYLES
 ======================== */

.profile-wrapper {
  width: 40%;
  flex-shrink: 0;
  background-image: linear-gradient(to bottom, #ffc001 15%, rgb(34, 42, 54) 15%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 4%;
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  color: rgb(193, 197, 201);
  font-size: 0.65rem;
}

.profile__img {
  width: 70%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-top: 20%;
  /* object-fit: cover; */
  background: #222a36;
  box-shadow: 0px 0px 0px 4px #ffc001;
}

.profile__name-title {
  display: flex;
  flex-direction: column;
}

.profile__name {
  color: #ffc001;
  font-size: 1.3rem;
  font-weight: 800;
}

.profile-section {
  width: 80%;
}


/* ===============
  CONTACT STYLES
 =============== */

.contact {
}

.contact__highlight {
  color: rgb(255, 191, 0);
}

.contact__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: start;
}

.contact__section-wrapper > p {
  word-break: break-word;
}

/* ===============
  SKILLS STYLES
 =============== */

.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
}

.level {
  width: 70px;
  height: 4px;
  border-radius: 3px;
}